* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
 
body { 
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
} 
 
.container { 
    width: 1200px; 
    margin: 0 auto; 
} 
 
.header { 
    background-color: #333; 
    padding: 20px 0; 
    text-align: left; 
} 
 
.logo { 
    font-size: 72px; 
    text-decoration: none; 
    color: #000; 
} 
 
.logo .highlight { 
    color: #00a8e8; /* Синій колір для "m" у слові Ramda.js */  
} 
 
.top-menu { 
    
    text-align: center; 
    background-color: #333; 
    padding: 15px 0; 
    margin-bottom: 35px; 
    margin-top: 30px; 
} 
 
.top-menu ul { 
    list-style: none; 
    display: inline-block; 
  
} 
 
.top-menu ul li { 
    display: inline-block; 
    margin: 0 15px; 
 
   
} 
 
.top-menu ul li a { 
    text-decoration: none; 
    color: #fff; 
    font-size: 24px; 
} 
 
.main-content { 
   
    display: flex; 
} 
 
.sidebar { 
    width: 25%; 
    background-color: #f4f4f4; 

} 
 
.sidebar ul { 
    list-style: none; 
    border: 1px solid #ccc; /* Додано рамку */ 
    font-size: 24px;
} 
 
.sidebar ul li { 
    margin-bottom: 10px; 
} 
 
.sidebar ul li a { 
    text-decoration: none; 
    color: #333; 
    padding: 10px; 
    display: block; 
} 
 
.sidebar ul li.active, .sidebar ul li a:hover { 
    background-color: #d3d3d3;  
    border-left: 5px solid #00a8e8;  
} 
.top-menu ul li.active, .top-menu ul li a:hover { 
    
    border-top: 15px solid #708090; 
    border-bottom: 15px solid #708090; 
    background-color: #708090; 
} 
.bottom-menu ul li.active, .bottom-menu ul li a:hover { 
    color: #207fde; 
} 
 
.image-block { 
    width: 70%;  
    margin-left: 60px;
} 
 
.image-container { 
    text-align: center; 
    margin-bottom: 30px; 
    
} 
 
.image-container img { 
    max-width: 100%; 
    height: auto; 
    display: block; 
} 
 
.text-block { 
    font-size: 14px; 
    color: #333; 
    text-align: left; 
} 
 
footer { 
    background-color: #e0e0e0; /* Світло-сірий фон */ 
    margin-top: 40px; 
    padding: 20px 0; 
    text-align: center; 
    
} 
 
.bottom-menu { 
   float: left;
 


} 
 
.bottom-menu ul { 
    list-style: none; 
    display: inline-block; 
} 
 
.bottom-menu ul li { 
    display: inline-block; 
    margin: 0 20px; 
} 
 
.bottom-menu ul li a { 
    text-decoration: none; 
    color: #555; /* Більш сірий текст для нижнього меню */ 
    font-size: 24px; 
  
   
    
} 
 
.copyright { 
    text-align: right; 
    color: #555; 
    font-size: 24px; 
    margin-right: 30px;
}