body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#app {
    text-align: center;
}

.circle {
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}