main {
    background-color: #fff;
}

.peninsula-container {
    margin: 0 auto;
    width: 1440px;
    height: 862px;
}

.peninsula-container .overtitle p {
    font-family: "Tuesday Night";
    font-size: 80px;
    background: linear-gradient(rgba(226, 255, 253, 0.3) 0%,
            rgba(203, 217, 216, 1) 43%,
            rgba(226, 255, 253, 0.00) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.peninsula-container .title p {
    font-family: "Cinzel";
    font-size: 56px;
    color: #091B32;
    line-height: 101.5%;
    margin-top: -45px;
    margin-left: 40px;
}

.peninsula-container .left {
    position: absolute;
    padding-top: 60px;
}

.peninsula-container .left button {
    font-family: "Work Sans";
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: #31D3CA;
    border: none;
    padding: 20px 30px 20px 30px;
    width: 280px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 50px;
}

.peninsula-container .left .phone {
    margin-top: 25px;
}

.peninsula-container .left .map,
.peninsula-container .left .phone {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
}

.peninsula-container .left .map p,
.peninsula-container .left .phone p {
    font-family: "Work Sans";
    font-size: 22px;
    line-height: 142.5%;
    color: #091B32;
}

.peninsula-container .line {
    opacity: .5;
    width: 60px;
    border-top: 1px solid #091B32;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.peninsula-container .left .schedule p {
    font-family: "Work Sans";
    font-size: 18px;
    line-height: 133.5%;
    color: #091B32;
    margin-left: 50px;
}

.peninsula-container .left .schedule {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.peninsula-container .right {
    float: right;
}